body {
    background-color: rgb(12, 12, 12);
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-size: 5rem;
}

header {
    background-color: rgb(145, 253, 145);
    height: 80vh;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.hamburger-navicon, .ninja-head {
    width: fit-content;
}

h1, .ninja-head {
    align-self: center;
}

main {
   
    max-width: 1054px;
    margin: 5rem auto;
}

.small-poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;

}

.small-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

p, h2 {
    color: white;
}

.small-card button {
    color: white;
    background-color: rgb(189, 16, 16);
    width: fit-content;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
}

.big-poster {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.big-card { 
    
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    
}

.big-card button {
    background-color: rgb(189, 16, 16);
    color: white;
    width: fit-content;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}